@mixin headerForSection {
    margin-bottom: 20px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        display: flex;
        width: 115px;
        height: 24px;
       justify-content: center;
       align-items: center;
        color: white;
        background: black;
        text-transform: uppercase;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 11px;
        line-height: 11px;
        margin-bottom: 33px;

    }
    h3{
        font-family: Roboto-Bold;
        font-size: 38px;
        line-height: 48px;
        text-align: center;
        color: #222222 ;
        text-transform: uppercase;
    }
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    // align-items: center;

}