@mixin headerForSection {
    margin-bottom: 20px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        display: flex;
        width: 115px;
        height: 24px;
       justify-content: center;
       align-items: center;
        color: white;
        background: black;
        text-transform: uppercase;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 11px;
        line-height: 11px;
        margin-bottom: 33px;

    }
    h3{
        font-family: Roboto-Bold;
        font-size: 38px;
        line-height: 48px;
        text-align: center;
        color: #222222 ;
        text-transform: uppercase;
    }
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;


}

@mixin Media{
    @media(max-width: 1100px){

        header{
    
            nav{
            
                .menu{
                 
                    justify-content: center;
                    li{
                        padding: 5px 20px;
                    }
                  }
              }
          }
        .mobileApp__container{
            .mobileApp__cardWrapper{
                gap: 30px;
                justify-content: center
            }
        }
        .conditions__cards{
            padding:  10px;
        }
        footer{
            .footer__socialMedia{
                margin-left: 14px;
                width: auto;
                .social__block{
                    height: 27px;
                    width: 27px;
                    
                }
                #instagram{
                    svg{
                        padding-left: 21%;
                        padding-top: 22%;
                        height: 22px;
                        width: 22px;
                    }
                }
                #facebook{
                    svg{
                        padding-left: 15%;
                        padding-top: 20%;
                        height: 22px;
                        width: 25px;
                    }
                }
                #twitter{
                    svg{
                        padding-left: 17%;
                        padding-top: 22%;
                        height: 24px;
                        width: 24px;
                    }
              
                }
                #linkedin{
                    svg{
                        padding-left: 25%;
                        padding-top: 25%;
                        height: 35px;
                        width: 35px;
                    }
               
                }
            }
            .download{
                flex-direction: column;
                margin-right: 14px;
                svg{
                
                    max-width: 200px;
                    max-height: 50px;
                }
                #appstore{
                    margin-top: 0;
                    padding-left: 8px;
                    width: 107px;

                }
                #googleplay{
                    margin-top: 0;
                    width: 135px; 
                    padding-right: 20px; 
                }
                #microsoftstore{
                    margin-top: 0;
                    padding-top: 0;
                    padding-left: 5px;
                    width: 110px;
                    height: 44px;
                }
        
            }
            
        }
        .adventeges__img{
            margin-right: 40px !important;
            }
        
    }
    @media(max-width: 980px){
        header{
    
            nav{
            
                .menu{
                 
                    justify-content: center;
                    li{
                        padding: 5px 15px;
                    }
                    .menu__link{

                      font-size: 13px;
                    }
                  
                  }
              }
            .subheader__call{
                margin: auto;
            }
          }
          .adventeges__img{
            margin-right: 30px !important;
            }
       
            
    }
    @media(max-width: 820px){
        header{
    
            nav{
            
                .menu{
                 
                    justify-content: center;
                    li{
                        padding: 5px 10px;
                    }
                  }
              }
          }
          .mobileApp__header {
            @include headerForSection;
                p{
                    font-family: Roboto-Regular;
                    font-size: 15px !important;

                }
            }   

    }
    @media(max-width: 776px) {
        body.lock{
            overflow: hidden ;
        }
        header{
            margin-top: 50px;
            nav{
              padding: 0;
              margin: 0;
                .menu{
                    display: flex;
                    justify-content: center;
                    position: relative;
                   
                    transition: all 0.3s ease 0s;
                    li{
                        display: none;
                    }
                  }
            }
              
            .subheader__container{


                .subheader__logo{
                    margin: 15px 45px;
                    img{
                
                    }
                    p{
                     
                    }
                }
                
            }
            .subheader__call{
                padding: 0 10px;
                .subheader__number {
                
                    .number__text {
                        font-size: 12px;
                    }
                    .number__number {
                        font-size: 18px;
                    }
                }
                
                .subheader__callback {
                    max-width: 150px;
                    max-height: 35px;
                    font-size: 14px;
                }

            }
            .menu__burger{
                display: block;
            }
            .menu__hover{
                display: flex !important;
                position: absolute;
                flex-direction: column;
                justify-content: flex-start !important;
                align-items: center;
                width: 100vw;
                height: 100vh;
                background: rgba($color: #222222, $alpha: 0.95);
          
                
                li{
                    display: block !important;
                }
                .menu__item{
                    border: none ;
                    a{
                        font-size: 35px;
                        line-height: 100px;
                        font-family: Roboto-Bold;
                    }
                 
                }
            }
            .menu__active{
                left: 0 !important;
                overflow-y: hidden
            };
            .menu__hover{
                left: -100%;
            }
        }
        .promo{
            min-height: 500px;
        }
        .promo__container{
            margin: 0 !important;
            margin-top: 129px !important;
            padding: 0 14px;
            width: 100% !important;
            .promo__content{
                margin: 0 !important;
                flex-direction: column;
                align-items: center;
                width: 100% !important;
               
                h1{
                    font-size: 65px !important;
                    width: 70%;
                }
                h2{
                    font-size: 40px !important;
                    margin-top: 40px;
                    
    
                }
            }
      
        }
        .promo__descr{
            display: none;
        }
        .promo__btn{
            margin: 78px 0 35px 0 !important;
        }
        .advantages__container{
            flex-direction: column !important;
            
          
        }
        .advantages__item{
            flex-wrap: nowrap;
            flex-direction: column !important;
            width: 100% !important;
            margin: 0 !important;
            min-height: 300px;
            gap: 25px;
            p{
                width: 50% !important;
            }
        }
        .mobileApp__container{
           
            .mobileApp__cardWrapper{
                display: flex !important;
                gap: 20px !important;
                padding: 0 10px;
            
                align-items: center;
                width: 100% !important;
                
                .mobileApp__card{
                    width: 100% !important;
                }

            }
        }
    }
        
    }