@import "fonts";
@import "nullstyle";
@import "mixin";

body{


    overflow-x: hidden;
}
header{

    .header__wrapper{
 
        display: flex;
        height: 50px;
        background:  #212121;
        justify-content: center;
    }
    nav{
        max-width: 1140px;
        width: 100vw;
        padding: 12px calc(100%/35);
        .menu{
            display: flex;
            
            li{
                border-right: 2px dotted black;
                padding: 5px 28px;
                
    
            }
            li:last-child{
                border: none;
            }
            .menu__link{
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
                font-family: Roboto-Light;
               
                
               
            }
    
        }
    }
    
.subheader{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    max-height: 84px;
    height: 100vh;
}

.subheader__container{
    display: flex;
    max-width: 1140px;
    width: 100vw; 
 
    align-items: center;

    .subheader__logo{
        width: calc(100% / 12 * 4);
        margin: 18px calc(100%/ 12);

        img{
          width: 73%;
        }
        p{
            color:  white;
            font-family: Roboto-Thin;
            margin: 0 0 0 16px;
            font-size: 13px;
            opacity: 0.7;
        }
    }
    
}
.subheader__call{
    display: flex;
    margin: 0 0 0 calc(100%/12 *1.2);
    gap: 32px;
    .subheader__number {
        display: flex;
        flex-direction: column;
        color: white;
        .number__text {
            margin-bottom: 4px;
            font-family: Roboto-Light;
            font-size: 12px;
            text-align: right;
        }
        .number__number {
            margin-bottom: 4px;
            font-family: Roboto-Regular;
            font-size: 22px;
        }
    }
    
    .subheader__callback {
        max-width: 172px;
        max-height: 46px;
        height: 100vh;
        width: 100vw;
        border-radius: 5px;
        background: linear-gradient(to top, #4CE2FF 0%, #2ac3ff 100% );
        color: white;
        font-family: Roboto-Regular;
        font-size: 14px;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: 0.21);
        
    }

}
}

.promo{
    
    display: flex;
    justify-content: center;

    background: url("img/uberbg.jpg") center center/cover no-repeat;
    min-height: 800px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 3px 5px  #000000;

        .promo__container{
            max-width: 1140px;
            margin: 129px 0 160px 0;
            
            text-align: center;
            .promo__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100%/ 12 *10);
                margin-left: calc(100%/ 12);
             
                h1{
                    font-family: Roboto-Black;
                    color: white;
                    font-size: 60px;
                  margin-bottom: 6px;
                    

                }
                h2{
                    font-family: Roboto-Bold;
                    color: white;
                    font-size: 36px;
                    line-height: 48px;
                    letter-spacing: 2.5px;
                    margin-bottom: 18px;
                }
                .promo__descr{
                    color: white;
                    font-family: Roboto-Regular;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;

                }
                .promo__btn{
                    
                    width: 100%;
                    max-width: 260px;
                    height: 64px;
                    color: white;
                    border-radius: 5px;
                    background: linear-gradient(to top, #4CE2FF 0%, #2ac3ff 100% );
                    font-family: Roboto-Regular;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: 0.21);
                    margin: 115px 0 0 0;

                   
                   
                  

                }
            }
        }
}

.Advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .advantages__container{
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        align-items: center;

            .advantages__header {
                @include headerForSection;
            }
            .advantages__content {
                display: flex;
                flex-wrap: wrap;
            
                .advantages__item {
                    display: flex;
                    width: calc(100% /12 * 6);
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 50px;
                    .advantages__key{
                        width: 50%;
                    }
                   
                    .adventeges__img {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #1EACC7;
                        border-radius: 50%;
                        max-width: 116px;
                        max-height: 116px;
                        width: 100%;
                        height: 100%;
                        margin-right: 50px;
                        
            
                            img{
                            width: 65%;
                            height: 55%;
                            }
                        
                    }
                    p{
                    width: 60%;
                    font-family: Roboto-Light;
                    font-size: 15px;
                    line-height: 21px;
                        span{
                            color: #1EACC7;
                            font-family: Roboto;
                            font-weight: 500;
                        }
            
                    }
                }
            }
    }
}


.mobileApp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/mobile_bg.jpg);
    

    .mobileApp__container {
        display: flex;
        flex-direction: column;
         max-width: 1140px;
         width: 100%;
         margin-top: 50px;

            .mobileApp__header {
                @include headerForSection;
                    p{
                        font-family: Roboto-Regular;
                        font-size: 17px;

                    }
                }   

            .mobileApp__cardWrapper{
                    display: flex;                    
                    flex-wrap: wrap;
                    gap: 67px;
                    margin-bottom: 80px;

                    .mobileApp__card {
                        position: relative;
                        display: flex;
                        width: calc(100%/ 12 * 4);
                        max-width: 320px;
                        min-height: 300px;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;


                        p{
                            color: white;
                            text-transform: uppercase;
                            font-family: Roboto-Regular;
                            font-size: 24px;
                            text-align: center;
                            margin-top: 34%;
                        }

                        .card__img {
                            position: absolute;
                            background: #000;
                            height: 29px;
                            width: 29px;
                            border-radius: 20px;
                            bottom: 35px;

                                img{
                                    position: relative;
                                    transform: translateX(50%) translateY(50%);
                                }

                            }

                        .card__img:hover{
                            cursor: pointer;
                            background: white;
                            }
                        }
                }

        }
        
        .uberX {
            position: relative;
            display: flex;
            background: #070716;
            width: 100vw;
            color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 400px;
            max-height: 500px;

                .uberX__header {
                    @include headerForSection;
                    position: relative;
                    top: 106px;
                    h2{
                        background: white;
                        color: black;
                    }
                    h3{
                        color: white;
                    }
                    p{
                        color: white;
                    }
                }
                .uberX__body {
                    position: relative;
                    top: 150px;
                    
                    p{
                        color: #222222;
                        text-align: center;
                        font-size: 17px;


                    }
                }
                
            }
            
    }


 .conditions {
        margin-top: 68px;
        @include flexColumnCenter;
        align-items: center;
        .conditions__header {
            @include headerForSection;
        }
        .conditions__container {
            @include flexColumnCenter;
            max-width: 1140px;
            width: 100%;
       
           
            
       
            
            .conditions__cards {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
               
           
                .conditions__list {
                    width: calc(100% / 12 * 6);
                    margin: 33px 0 0 0;
                    
                    h2{
                        color: #1CA8C3;
                        font-family: Roboto-Regular;
                        font-size: 22px;
                        margin-bottom: 16px;
                        span{
                            color:#ff5656;
                            font-family: Roboto-Regular;
                        }
                        
                    }
                    p{
                        font-family: Roboto-Light;
                        font-size: 17px;
                        color: #1CA8C3; 
                        margin-top: 16px;
                        line-height: 24px;

                     }

                    .conditions__item {
                        display: flex;
                        max-width: 550px;
                        color: #222222;
                        font-family: Roboto-Light;
                        font-size: 17px;
                        line-height: 24px;
                        padding-left: 15px;
                      
                        .check{
                            width: 33px;
                            height: 22px;
                            margin: 0 10px 0 0;
                        }
                       
                        }
                    }
                }
             }
    }


 
 
  
