@import "fonts";
@import "nullstyle";
@import "mixin";

header{
position: relative;
}
.header__wrapper{
    display: flex;
    height: 50px;
    background:  #212121;
    justify-content: center;
}
nav{

    max-width: 1140px;
    width: 100vw;
    padding: 12px calc(100%/35);
    .menu{
        display: flex;
        
        li{
            border-right: 2px dotted black;
            padding: 5px 28px;
            

        }
        .menu__link{
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: Roboto-Light;
           
            
           
        }

    }
}



.subheader{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    max-height: 84px;
    height: 100vh;
}

.subheader__container{
    display: flex;
    max-width: 1140px;
    width: 100vw; 
 
    align-items: center;

    .subheader__logo{
        width: calc(100% / 12 * 4);
        margin: 18px calc(100%/ 12);

        img{
          width: 73%;
        }
        p{
            color:  white;
            font-family: Roboto-Thin;
            margin: 0 0 0 16px;
            font-size: 13px;
            opacity: 0.7;
        }
    }
    
}
.subheader__call{
    display: flex;
    margin: 0 0 0 calc(100%/12 *1.2);
    gap: 32px;
    .subheader__number {
        display: flex;
        flex-direction: column;
        color: white;
        .number__text {
            margin-bottom: 4px;
            font-family: Roboto-Light;
            font-size: 12px;
            text-align: right;
        }
        .number__number {
            margin-bottom: 4px;
            font-family: Roboto-Regular;
            font-size: 22px;
        }
    }
    
    .subheader__callback {
        max-width: 172px;
        max-height: 46px;
        height: 100vh;
        width: 100vw;
        border-radius: 5px;
        background: linear-gradient(to top, #4CE2FF 0%, #2ac3ff 100% );
        color: white;
        font-family: Roboto-Regular;
        font-size: 14px;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: 0.21);
        
    }

}

.promo{
    
    display: flex;
    justify-content: center;

    background: url("img/uberbg.jpg") center center/cover no-repeat;
    min-height: 800px;
    width: 100%;
    height: 100%;

        .promo__container{
            max-width: 1140px;
            margin: 129px 0 160px 0;
            
            text-align: center;
            .promo__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100%/ 12 *10);
                margin-left: calc(100%/ 12);
             
                h1{
                    font-family: Roboto-Black;
                    color: white;
                    font-size: 60px;
                  margin-bottom: 6px;
                    

                }
                h2{
                    font-family: Roboto-Bold;
                    color: white;
                    font-size: 36px;
                    line-height: 48px;
                    letter-spacing: 2.5px;
                    margin-bottom: 18px;
                }
                .promo__descr{
                    color: white;
                    font-family: Roboto-Regular;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;

                }
                .promo__btn{
                    
                    width: 100%;
                    max-width: 260px;
                    height: 64px;
                    color: white;
                    border-radius: 5px;
                    background: linear-gradient(to top, #4CE2FF 0%, #2ac3ff 100% );
                    font-family: Roboto-Regular;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: 0.21);
                    margin: 115px 0 0 0;

                   
                   
                  

                }
            }
        }
}
