@import "fonts";
@import "nullstyle";
@import "mixin";




body{


    overflow-x: hidden;
}

header{
    margin-top: 50px;
 
    .header__wrapper{
        position: fixed; 
        top: 0;
        z-index: 5;
        display: flex;
        height: 50px;
        background:  #212121;
        justify-content: center;
        width: 100%;
    }
    nav{
        position: relative;
        max-width: 1140px;
        width: 100vw;
        padding: 12px calc(100%/35);
        .menu{
            position: relative;
            display: flex;
            transition: all 0.3s ease 0s;
            
            li{
                border-right: 2px dotted black;
                padding: 5px 29px;
                
    
            }
            li:last-child{
                border: none;
            }
            .menu__link{
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
                font-family: Roboto-Light;
               
                
               
            }
    
        }
    }
    .menu__burger{
        display: none;
        position: absolute;
        top: 15px;
        right: 20px;
        width: 30px;
        height: 16px;
        span{
            display: block;
                border-top: 2px solid white;
                margin-top: 5px;
        }
        transition: all 0.3s ease 0s;
    }
    .menu__burger::before{  
    
      
        display: block;
        content: "";
        background: white;
        border-top: 2px solid white;
        transition: all 0.3s ease 0s;
        transform: rotate(0);
    
    }
    .menu__burger::after{
    

        display: block;
        content: "";
        border-bottom: 2px solid white;
        margin-top: 4px;
        transition: all 0.3s ease 0s;
        transform: rotate(0);
    }



    //////////////
    .active__burger{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        width: 27px;
        height: 16px;

            span{
                display: none;
              
            }
    }
    .active__burger::before{
        position: relative;
        top: 6px;
        display: block;
        content: "";
        border-top: 2px solid white;
        margin-top: 4px;
        transition: all 0.3s ease 0s;
        transform: rotate(45deg);
    }
    .active__burger::after{
        display: block;
        content: "";
        border-bottom: 2px solid white;
        margin-top: 4px;
        transform: rotate(135deg);
        transition: all 0.3s ease 0s;
    }
    /////////////////////////


    ///////////////////////
   
 

.subheader{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    max-height: 84px;
    height: 100vh;
}

.subheader__container{
    display: flex;
    max-width: 1140px;
    width: 100vw; 
 
    align-items: center;

    .subheader__logo{
        width: calc(100% / 12 * 4);
        margin: 18px calc(100%/ 12);

        img{
          width: 73%;
        }
        p{
            color:  white;
            font-family: Roboto-Thin;
            margin: 0 0 0 16px;
            font-size: 13px;
            opacity: 0.7;
        }
    }
    
}
.subheader__call{
    display: flex;
    margin: 0 0 0 calc(100%/12 *1.2);
    gap: 32px;
    .subheader__number {
        display: flex;
        flex-direction: column;
        color: white;
        .number__text {
            margin-bottom: 4px;
            font-family: Roboto-Light;
            font-size: 12px;
            text-align: right;
        }
        .number__number {
            margin-bottom: 4px;
            font-family: Roboto-Regular;
            font-size: 22px;
        }
    }
    
    .subheader__callback {
        max-width: 172px;
        max-height: 46px;
        height: 100vh;
        width: 100vw;
        border-radius: 5px;
        background: linear-gradient(to top, #4CE2FF 0%, #2ac3ff 100% );
        color: white;
        font-family: Roboto-Regular;
        font-size: 14px;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: 0.21);
        
    }

}
}



.promo{
    
    display: flex;
    justify-content: center;

    background: url("../img/uberbg.jpg") center center/cover no-repeat;
    min-height: 800px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 3px 5px  #000000;

        .promo__container{
            max-width: 1140px;
            margin: 129px 0 160px 0;
            
            text-align: center;
            .promo__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100%/ 12 *10);
                margin-left: calc(100%/ 12);
             
                h1{
                    font-family: Roboto-Black;
                    color: white;
                    font-size: 60px;
                  margin-bottom: 6px;
                    

                }
                h2{
                    font-family: Roboto-Bold;
                    color: white;
                    font-size: 36px;
                    line-height: 48px;
                    letter-spacing: 2.5px;
                    margin-bottom: 18px;
                }
                .promo__descr{
                    color: white;
                    font-family: Roboto-Regular;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;

                }
                .promo__btn{
                    
                    width: 100%;
                    max-width: 260px;
                    height: 64px;
                    color: white;
                    border-radius: 5px;
                    background: linear-gradient(to top, #4CE2FF 0%, #2ac3ff 100% );
                    font-family: Roboto-Regular;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: 0.21);
                    margin: 115px 0 0 0;

                   
                   
                  

                }
            }
        }
}

.Advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .advantages__container{
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        align-items: center;

            .advantages__header {
                @include headerForSection;
            }
            .advantages__content {
                display: flex;
                flex-wrap: wrap;
                
            
                .advantages__item {
                    display: flex;
                    
                    width: calc(100% /12 * 6);
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 50px;
                    .advantages__key{
                        width: 50%;
                    }
                   
                    .adventeges__img {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #1EACC7;
                        border-radius: 50%;
                        max-width: 116px;
                        max-height: 116px;
                        width: 100%;
                        height: 100%;
                        margin-right: 50px;
                        
            
                            img{
                            width: 65%;
                            height: 55%;
                            }
                        
                    }
                    p{
                    width: 60%;
                    font-family: Roboto-Light;
                    font-size: 15px;
                    line-height: 21px;
                        span{
                            color: #1EACC7;
                            font-family: Roboto;
                            font-weight: 500;
                        }
            
                    }
                }
            }
    }
}


.mobileApp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/mobile_bg.jpg);
    

    .mobileApp__container {
        display: flex;
        flex-direction: column;
         max-width: 1140px;
         width: 100%;
         margin-top: 50px;

            .mobileApp__header {
                @include headerForSection;
                    p{
                        font-family: Roboto-Regular;
                        font-size: 17px;

                    }
                }   

            .mobileApp__cardWrapper{
                    display: flex;                    
                    flex-wrap: wrap;
                    gap: 67px;
                    margin-bottom: 80px;

                    .mobileApp__card {
                        position: relative;
                        display: flex;
                        width: calc(100%/ 12 * 4);
                        max-width: 320px;
                        min-height: 300px;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;


                        p{
                            color: white;
                            text-transform: uppercase;
                            font-family: Roboto-Regular;
                            font-size: 24px;
                            text-align: center;
                            margin-top: 34%;
                        }

                        .card__img {
                            position: absolute;
                            background: #000;
                            height: 29px;
                            width: 29px;
                            border-radius: 20px;
                            bottom: 35px;

                                img{
                                    position: relative;
                                    transform: translateX(50%) translateY(50%);
                                }

                            }

                        .card__img:hover{
                            cursor: pointer;
                            background: white;
                            }
                        }
                }

        }
        
        .uberX {
            position: relative;
            display: flex;
            background: #070716;
            width: 100vw;
            color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 400px;
            max-height: 500px;

                .uberX__header {
                    @include headerForSection;
                    position: relative;
                    top: 106px;
                    h2{
                        background: white;
                        color: black;
                    }
                    h3{
                        color: white;
                    }
                    p{
                        color: white;
                    }
                }
                .uberX__body {
                    position: relative;
                    top: 150px;
                    
                    p{
                        color: #222222;
                        text-align: center;
                        font-size: 17px;


                    }
                }
                
            }
            
}


 .conditions {
        margin-top: 68px;
        @include flexColumnCenter;
        align-items: center;
        .conditions__header {
            @include headerForSection;
        }
        .conditions__container {
            @include flexColumnCenter;
            max-width: 1140px;
            width: 100%;
       
           
            
       
            
            .conditions__cards {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
               
            
               
           
                .conditions__list {
                    width: calc(100% / 12 * 6);
                    margin: 33px 0 ;
                    
                    h2{
                        color: #1CA8C3;
                        font-family: Roboto-Regular;
                        font-size: 22px;
                        margin-bottom: 16px;
                        span{
                            color:#ff5656;
                            font-family: Roboto-Regular;
                        }
                        
                    }
                    p{
                        font-family: Roboto-Light;
                        font-size: 17px;
                        color: #1CA8C3; 
                        margin-top: 16px;
                        line-height: 24px;

                     }
                    

                    .conditions__item {
                        display: flex;
                        max-width: 550px;
                        color: #222222;
                        font-family: Roboto-Light;
                        font-size: 17px;
                        line-height: 24px;
                        padding-left: 15px;

                      
                        .check{
                            width: 33px;
                            height: 22px;
                            margin: 0 10px 0 0;
                        }
                       
                        }
                    }
                .conditions__list-nbm{
                      margin-bottom: 0
                    }
                }
             }
}


.map {
        @include flexColumnCenter;
        background: #080816;
        align-items: center;
        min-height: 715px;

        .map__container {
            position: relative;
            @include flexColumnCenter;
            flex-direction: column;
            align-items: center;
            background: url(../img/world_bg.png);
            max-width: 1440px;
            width: 100%;
            min-height: 715px;
            .map__header {
                @include headerForSection;
                margin: 46px 0 0 0;
                h2{
                    color: black;
                    background: white;
                    max-width: 73px;
                    max-height: 25px;
                }
                h3{
                    color: white;
                    font-family: Roboto-Bold;
                   
                

                }
                p{
                    color: white;
                    font-family: Roboto-Regular;
                    font-size: 17px;
                }
            }

            button{
             
                max-width: 223px;
                min-height: 68px;
                background: rgba($color: #000000, $alpha: 0);
                color: #1fbad6;
                text-transform: uppercase;
                font-size: 15px;
                font-family: Roboto-Regular;
                text-align: center;
                margin: 456px 0 18px 0;
              
            }
         
        }
}
  
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__socialMedia{
      display: flex;
        gap: 10px;
        width: calc(100%/ 12 * 4);
        margin-left: 24px;
        .social__block{
            height: 35px;
            width: 35px;
            background: #070716;
            border-radius: 50px;
            
        }
        #instagram{
            svg{
                padding-left: 27%;
                padding-top: 27%;
                height: 35px;
                width: 35px;
            }
        }
        #facebook{
            svg{
                padding-left: 22%;
                padding-top: 22%;
                height: 35px;
                width: 35px;
            }
        }
        #twitter{
            svg{
                padding-left: 22%;
                padding-top: 22%;
                height: 35px;
                width: 35px;
            }
      
        }
        #linkedin{
            svg{
                padding-left: 29%;
                padding-top: 29%;
                height: 35px;
                width: 35px;
            }
       
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1140px;
        width: 100%;
        margin-top: 44px;
        margin-bottom: 38px;
        .pageNav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 370px;
            width: 100%;
                li{
                  
                    a{
                        color:#070716;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-family: Roboto-Light;
                    }
                }

        }
        .contacts{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 395px;
            width: 100%;
                li{
                   
                    a{
                        color:#999999;
                        font-family: Roboto-Light;
                        font-size: 11px;
                        line-height: 37px;
                    }
                }
        }
        button{
            background: white;
            color: #1fbad6;
            font-size: 11px;
            text-transform: uppercase;
            font-family: Roboto-Regular;
        }
    }
    .download{
        // width: calc(100%/ 12 * 4);
        display: flex;
        margin-right: 26px;
        svg{
            max-width: 200px;
            max-height: 60px;
        }
        #appstore{
            margin-top: 5px;
            width: 125px;
        }
        #googleplay{
            margin-top: 5px;
            width: 145px;  
        }
        #microsoftstore{
            margin-top: 11px;
            padding-top: 5px;
            width: 120px;
            height: 44px;
        }

    }
    
}
@include Media;